---
import Header from "../components/Header.astro";
import Introduction from "../components/Introduction.astro";
import Marquee from "../components/Marquee.astro";
import Services from "../components/Services.astro";
import Project from "../components/Project.astro";
import Footer from "../components/Footer.astro";

import Layout from "../layouts/Layout.astro";
---

<Layout title="Rinaldo Pasa - Web Developer">
  <Header />
  <main class="flow">
    <Introduction />
    <Marquee />
    <Services />
    <Project />
    <Footer />
  </main>
</Layout>

<style>
  main {
    margin-block: 2rem;
  }
</style>
