---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Rinaldo Pasa - Web Developer">
  <header class="">
    <div class="intro">
      <div>
        <div class="intro__photo"></div>
        <ul class="intro__social">
          <li>
            <a
              href="mailto:rinaldopasa97@gmail.com?subject=Hello There!&body=Hi Rinaldo, so I was looking at your portfolio and..."
            >
              <figure>
                <img src="/google.svg" alt="" width="24" height="24" />
                <figcaption>Email</figcaption>
              </figure>
            </a>
          </li>
          <li>
            <a href="https://github.com/rinaldopasa">
              <figure>
                <img src="/github.svg" alt="" width="24" height="24" />
                <figcaption>GitHub</figcaption>
              </figure>
            </a>
          </li>
          <li>
            <a href="#">
              <figure>
                <img src="/linkedin-02.svg" alt="" width="24" height="24" />
                <figcaption>LinkedIn</figcaption>
              </figure>
            </a>
          </li>
        </ul>
      </div>
      <h1>
        <span>Hey there</span>
        <span>I'm</span>
        <span>Rinaldo</span>
      </h1>
    </div>
    <p>
      Modern aesthetics, seamless performance, websites that impress.
      That&apos;s what I do.
    </p>
    <blockquote>
      <p>
        <strong>Website performance</strong> is just as important as a morning <strong
          >cup of coffee.</strong
        >
      </p>
      <footer>&mdash; Me 😜</footer>
    </blockquote>
  </header>

  <main></main>
</Layout>

<style>
  header {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    margin-inline: auto;
    padding: 2rem;
    inline-size: min(100% - 2rem, 60rem);
    text-align: center;
    border: 3px solid currentColor;
    border-block-width: 7px;

    & > p {
      max-inline-size: 50ch;
    }

    /* &::before {
      content: "";
      inset: 0;
      position: absolute;
      background-image: url("/process-dash.svg");
      background-repeat: no-repeat;
      background-position: center calc(50% - 3rem);
      mix-blend-mode: multiply;
      opacity: 0.15;
    } */
  }
  /* .process {
    position: absolute;
    width: 50vw;
  } */

  .intro {
    display: flex;
    gap: 1rem;

    & > :first-child {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  .intro__photo {
    background-color: var(--system-color-text);
    aspect-ratio: 1;
    width: 200px;
  }
  .intro__social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0;

    & li {
      position: relative;
    }
    & a {
      display: inline-block;
      border: 2px solid var(--system-color-shadow);
      border-radius: 12px;
      box-shadow: 3px 3px 0 var(--system-color-shadow);
      &:hover,
      &:focus-within {
        translate: 2px 2px;
        box-shadow: unset;
      }
    }
    & figure {
      padding: 7px;
      & figcaption {
        position: absolute;
        opacity: 0;
        left: 50%;
        padding-block-start: 1rem;
        translate: -50% -1rem;
        font-size: 1rem;
        transition:
          opacity 0.3s,
          translate 0.3s;

        .intro__social a:hover &,
        .intro__social a:focus-within & {
          opacity: 1;
          translate: -50%;
        }
      }
    }
  }

  h1 {
    --fill-color: var(--system-color-background);
    --stroke-color: var(--system-color-text);
    font-size: 7rem;
    font-weight: 800;
    font-stretch: 95%;
    line-height: 1;
    text-align: start;
    & :nth-child(1) {
      font-stretch: 75%;
    }
    & :not(:nth-child(1)) {
      display: block;
      color: var(--fill-color);
      text-shadow:
        -2px -2px 0 var(--stroke-color, #000),
        2px -2px 0 var(--stroke-color, #000),
        -2px 2px 0 var(--stroke-color, #000),
        2px 2px 0 var(--stroke-color, #000);
    }
  }

  blockquote {
    position: relative;
    background-color: var(--system-color-background);
    max-inline-size: 40ch;
    font-size: 1rem;
    border: 3px solid var(--system-color-shadow);
    padding: 0.5ch 3ch;
    border-radius: 1rem;
    box-shadow: 3px 3px 0 var(--system-color-shadow);

    &::before {
      content: "";
      position: absolute;
      background-image: url("/lightning.svg");
      background-repeat: no-repeat;
      aspect-ratio: 1;
      width: 128px;
      top: 0;
      left: 0;
      translate: -50% -50%;
    }

    &::after {
      content: "";
      position: absolute;
      background-image: url("/coffee.svg");
      background-repeat: no-repeat;
      aspect-ratio: 1;
      width: 64px;
      right: 0;
      bottom: 0;
      translate: 0 1.3rem;
    }

    & p::before {
      content: "\201C";
    }
    & p::after {
      content: "\201D";
    }
  }
</style>
