<footer>
  <p>Made with 100% organic code and free-range coffee.</p>
  <p>
    <strong>&copy; Rinaldo Pasa</strong> from day one to this magic moment in
    2023.
  </p>
  <small>&quot;This website under construction&quot;</small>
</footer>

<style>
  footer {
    text-align: center;
    margin-block-start: 5rem;
    /* border-block: 1px solid var(--system-color-shadow); */
  }
</style>
