<footer>
  <p>
    "This website is under construction. I apologize for any inconvenience."
    (But make it fun!)
  </p>
  <p>Made with 100% organic code and free-range coffee.</p>
  <p>
    <strong>&copy; Rinaldo Pasa</strong> from day one to this magic moment in
    2023
  </p>
</footer>

<style>
  footer {
    margin-block-start: 5rem;
    border-block-start: 2px solid var(--system-color-shadow);
    padding-block-start: 1rem;
  }
</style>
